*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: Arial, Helvetica, sans-serif;
}

body{
background:#f4f4f4;
color:#333;
}

header{
background:#2c2c2c;
color:white;
text-align:center;
padding:20px;
}

nav{
background:#444;
text-align:center;
padding:15px;
}

nav a{
color:white;
margin:15px;
text-decoration:none;
font-weight:bold;
}

.hero{
background:#e5e5e5;
text-align:center;
padding:60px;
}

.hero button{
padding:12px 25px;
background:#333;
color:white;
border:none;
margin-top:15px;
cursor:pointer;
}

#produtos{
padding:40px;
text-align:center;
}

.produtos{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.card{
background:white;
padding:20px;
width:250px;
border-radius:8px;
box-shadow:0 0 8px rgba(0,0,0,0.1);
}

.card span{
display:block;
margin:10px;
font-size:20px;
}

.card button{
padding:10px;
background:#333;
color:white;
border:none;
cursor:pointer;
}

#simulador{
padding:40px;
text-align:center;
background:white;
}

.simulador-box{
background:#f4f4f4;
padding:20px;
width:300px;
margin:auto;
border-radius:8px;
}

#carrinho{
padding:40px;
text-align:center;
}

#contato{
padding:40px;
text-align:center;
}

form{
display:flex;
flex-direction:column;
max-width:400px;
margin:auto;
}

input, textarea{
margin:10px;
padding:10px;
}

form button{
padding:12px;
background:#333;
color:white;
border:none;
}

footer{
background:#2c2c2c;
color:white;
text-align:center;
padding:15px;
}
